# .coveragerc to control coverage.py
[run]
branch = True
omit =
        coverage.xml
        test_bye.py
        *test*
        */usr/local/lib*
        application/__init__.py
        */__init__.py


[report]
omit =  
        coverage.xml
        test_bye.py
        *test*
        */usr/local/lib*
        application/__init__.py
        */__init__.py